body {
  font-size: 16px;
  color: white;
  background-color: #61122f;
  font-family: "Oxygen", sans-serif;
}

/**Header**/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url("../img/restaurant-logo_medium.jpg") no-repeat;
  height: 100px;
  width: 190px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

#jumbotran-main-text {
  position: relative;
  text-align: center;
  font-size: 3em;
}

#jumbotran-sub-text p {
  position: relative;
  text-align: center;
  font-size: 1.25em;
}

#jumbotran-main-text hr {
  width: 40%;
}
.navbar-brand h1 {
  /*Restaurant Name*/
  font-family: "Lora", serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 15px;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951c49;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a {
  /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div {
  /*Call us for home delivery */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours,
#address {
  line-height: 2;
}
#hours > span,
#address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: 0.8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */
/* Overflow hidden will ensure that nothing comes out of the tile*/
#menu-tile,
#specials-tile,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
}
#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url("../img/menu-title.jpg") no-repeat;
  background-position: center;
}
#specials-tile {
  background: url("../img/special-tile.jpg") no-repeat;
  background-position: center;
}

#bg-jumbotron {
  background: url("../img/jumbotran_1200.jpg") no-repeat;
  background-position: center;
}
#menu-tile span,
#specials-tile span,
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

#bg-jumbotron span {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  position: relative;
  margin-left: 45%;
  background-color: #f6b319 !important;
}
/* MENU CATEGORIES PAGE */
.category-tile {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: 0.6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}

.shop-item-photo {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 75px;
}
.shop-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  background-color: #557c3e;
  text-align: center;
}

.shop-item-total {
  position: relative;
  border: 0px solid #3f0c1f;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: 25%;
  margin-bottom: 20px;
  max-width: 285px;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: 0.9em;
  font-style: italic;
}

.menu-item-photo a:hover,
.menu-item-photo a:active,
.menu-item-photo a {
  color: white;
}
/* END SINGLE CATEGORY PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url("../img/jumbotran_1200.jpg") no-repeat;
    height: 675px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url("../img/restaurant-logo_small.jpg") no-repeat;
    width: 150px;
    height: 70px;
    margin: 25px 5px 5px 0;
  }
  /* End Header */
  .container .jumbotron {
    background: url("../img/jumbotran_992.jpg") no-repeat;
    height: 558px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url("../img/jumbotran_768.jpg") no-repeat;
    height: 432px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited {
    position: relative;
    margin-left: 25%;
    background-color: #f6b319 !important;
  }
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {
    /* Kosher cert */
    font-size: 0.6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  #menu-tile,
  #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;
  }
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited {
    position: relative;
    margin-left: 40%;
    background-color: #f6b319 !important;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
  /* Home page */
  #menu-tile,
  #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
  }
}
